<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBOoz-Uz33y4CPDvyN_dDf4grbboGTMPhg</string>
	<key>GCM_SENDER_ID</key>
	<string>863376903260</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.runtodApp</string>
	<key>PROJECT_ID</key>
	<string>runtod-delivery</string>
	<key>STORAGE_BUCKET</key>
	<string>runtod-delivery.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:863376903260:ios:c4c16903cc02f36126aa99</string>
</dict>
</plist>